{% extends 'mobile/base_mobile.html' %}
{% block content %}
<div class="container mt-4">
  <h3 class="mb-2 text-center">Inventaire du {{ date|date:"d/m/Y" }}</h3>

  {% if inventory %}
    <ul class="list-group">
      {% for item in inventory %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <strong>{{ item.product.name }}</strong>
          <span class="badge bg-primary rounded-pill">{{ item.quantity }}</span>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="text-muted text-center">Aucun produit chargé aujourd'hui.</p>
  {% endif %}
</div>
{% endblock %}
