{% extends 'products/base.html' %}

{% block title %}Sorties{% endblock %}

{% block content %}
<h2>Les Sorties</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Produit</th>
            <th>Qte</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for sale in sales %}
        <tr>
            <td>{{ sale.product.name }}</td>
            <td>{{ sale.quantity }}</td>
            <td>{{ sale.date }}</td>
            <td>
                <a href="{% url 'products:edit_sales_entry' sale.id %}" class="btn btn-warning btn-sm">Modifier</a>
                <a href="{% url 'products:delete_sales_entry' sale.id %}" class="btn btn-danger btn-sm">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
