{% extends "products/base.html" %}
{% block content %}
<div class="container">
    <h2>Nouvelle Commande - {{ customer.name }}</h2>
    <form method="post">
        {% csrf_token %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix Unitaire (DH)</th>
                    <th>Quantité</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.selling_price|floatformat:2 }}</td>
                    <td>
                        <input type="number" name="product_{{ product.id }}" min="0" value="0" class="form-control">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-end">
            <button type="submit" class="btn btn-success">
                <i class="bi bi-save"></i> Enregistrer Commande
            </button>
        </div>
    </form>
</div>
{% endblock %}
