<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Flexbox layout for the body */
        html, body {
            height: 100%;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        main {
            flex: 1;
        }
    </style>
    <title>{% block title %}Maakoulatcom Distribution{% endblock %}</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'products:dashboard' %}">Maakoulatcom Distribution</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <!-- Produits -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products:product_list' %}">Produits</a>
                    </li>
                    <!-- Inventaire -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products:inventory_status' %}">Inventaire</a>
                    </li>
                    <!-- Entrées & Ventes -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gestion des Entrées & Ventes
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'products:inventory_entry' %}">Ajouter une Entrée</a></li>
                            <li><a class="dropdown-item" href="{% url 'products:sales_entry' %}">Ajouter une Vente</a></li>
                            <li><a class="dropdown-item" href="{% url 'products:inventory_entries' %}">Gérer les Entrées</a></li>
                            <li><a class="dropdown-item" href="{% url 'products:sales_entries' %}">Gérer les Ventes</a></li>
                        </ul>
                    </li>
                    <!-- Entrées & Ventes -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Operations
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'products:load_inventory' %}">
                                Chargements
                            </a></li>
                            <li><a class="dropdown-item" href="{% url 'products:unload_inventory' %}">
                                Dechargements
                            </a></li>
                            <li><a class="dropdown-item" href="{% url 'products:sales_report' %}">
                                Ventes
                            </a></li>
                        </ul>
                    </li>
                    <!-- Commandes -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products:order_list' %}">Commandes</a>
                    </li>
                    <!-- Factures -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products:invoice_list' %}">Factures</a>
                    </li>
                    <!-- Importer Produits -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products:import_products' %}">Importer Produits</a>
                    </li>
                    <!-- Exporter Inventaire -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="{% url 'products:export_inventory_to_pdf' %}">Exporter Inventaire (PDF)</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>

    <!-- Content Block -->
    <main class="container mt-5">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3">
            © 2025 Maakoulatcom Distribution
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
