{% extends 'products/base.html' %}

{% block title %}Supprimer coammande{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Êtes-vous sûr de vouloir supprimer cette commande ?</h1>
    <p><strong>Bon de Commande N:</strong> {{ order.order_number }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Supprimer</button>
        <a href="{% url 'products:order_list' %}" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}
