<!DOCTYPE html>
<html>
<head>
    <title>Bon de Commande N #{{ order.order_number }}</title>
</head>
<body>
    <h1>Bon de commande #{{ order.order_number }}</h1>
    <p>Fournisseur: {{ order.supplier }}</p>
    <p>Date: {{ order.created_at }}</p>
    <hr>
    <table>
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix d'achat</th>
                <th>Qte</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.purchase_price }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <p>Total : {{ total_amount }}  MAD</p>
</body>
</html>
